.list-card {
  background-color: #EEE;
  border-radius: 5px;
  border: 1px solid #EEE;
  display: flex;
  flex-wrap: wrap;
  /*transition: 500ms;*/
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #DDD;
}

.list-recipe-image-container{
  flex: 3 1 30ch;
  height:150px;
  overflow: hidden;
  background-color:white;
}

.list-recipe-image {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  background-color:white;
}
img[src]::after {
  content: '';
  display: block;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color:white;
}

.list-recipe-info-container {
  padding: 16px 3vw;
  flex: 4 1 40ch;
}

.list-recipe-info-top {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
}

.list-recipe-title {
  font-weight: bold;
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.list-recipe-description {
  font-size: 18px;
}
.sc{ /* rating container */
  margin: 0;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: var(--primary);
}
.empty-star-container {
  position: absolute;
}
.full-star-container {
  position: relative;
  width: max-content;
}


.recipe-card-link:hover {
  color: black;
}
