@font-face {
	font-family: AllerRegular;
	src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
	font-family: AllerDisplay;
	src: url(../fonts/AllerDisplay.ttf);
}

.list-card {
  background-color: #fadbbc;
  border-radius: 5px;
  border: 1px solid #fadbbc;
  display: flex;
  flex-wrap: wrap;
  /*transition: 500ms;*/
  margin-top: 10px;
  margin-bottom: 10px;
  color: #be433c;
}
.list-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #f9d5b0;
}

.list-recipe-image-container{
  flex: 3 1 30ch;
  height:150px;
  overflow: hidden;
}

.list-recipe-image {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
img[src]::after {
  content: '';
  display: block;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #fadbbc;
  transition: 500ms;
}

.list-card:hover img[src]::after {
  background-color: #f9d5b0;
}

.list-recipe-info-container {
  padding: 16px 3vw;
  flex: 4 1 40ch;
}

.list-recipe-info-top {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
}

.list-recipe-title {
  font-weight: bold;
  margin: 0;
}

.list-recipe-description {
  font-family: AllerDisplay;
}
.sc{ /* rating container */
  margin: 0;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: var(--primary);
}
.empty-star-container {
  position: absolute;
}
.full-star-container {
  position: relative;
  width: max-content;
}


.recipe-card-link:hover {
  color: black;
}
