.recipe-image-container {
  height: 14vw;
  margin-bottom: 10px;
}

.recipe-image {
  width: calc(100% + 20px);
  height: 14vw;
  object-fit: cover;
  position: relative;
}
/* This element is render only if the image is invalid*/
img[src]::after {
  content: '';
  display: block;
  width: calc(100% + 20px);
  height: 14vw;
}

.recipe-blur {
  -webkit-mask: -webkit-linear-gradient(transparent, black 100%);
  -webkit-mask: linear-gradient(transparent, black 100);
  -webkit-filter: blur(5px);
  width: calc(100% + 20px);
  height: 400px;
  object-fit: cover;
  position: relative;
}

.recipe-title{
  font-size: 30px;
  position: relative;
  bottom: 8vw;
  left: 2vw;
  font-weight: bold;
  background-color: #be433c;
  color: #FFF;
  padding: 5px 10px;
  width: max-content;
  /* needs a text shadow to be visible on all background colors */
  box-shadow: #000 1px 1px 2px;
  border-radius: 5px;
}
.recipe-title *{
  font-size: 4vw;
}

.recipe-info-top {
  display: flex;
  justify-content: space-between;
}

.recipe-description {
  /*text-align: justify;*/ /*Might produce weird spacing between word with 2 line descriptions*/
  /*text-indent: 40px;*/
}


.empty-star-container {
  position: absolute;
}

.full-star-container {
  position: relative;
  width: max-content;
}

.recipe-steps-list, .recipe-ingredients-list {
  margin: 20px;
}

.recipe-steps-list {
  list-style: none;
  counter-reset: li;
}

.recipe-steps-list li::before {
  content: counter(li);
  color: white;
  background-color: #333;
  font-weight: bold;
  width: 30px;
  height: 28px;
  padding-top: 2px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
}

.recipe-steps-list li {
  counter-increment: li;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tag {
  background-color: #fadbbc;
  padding: 7px;
  margin: 3px;
  display: inline-block;
}

.tag:hover {
  color: black;
}

.recipe-tag-container {
  display: flex;
  align-items: center;
}

.recipe-ingredients-title, .recipe-steps-title, .recipe-comments-title {
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
}

.recipe-part {
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipe-comments-title {
  margin-bottom: 20px;
}

.recipe-comments-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.force-right{
  display:flex;
  flex-direction:row-reverse;
}
form{
  width:100%;
}
#comment_preview_dom{
  display:block;
  padding:10px;
}

.comment {
  background-color: #fadbbc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.comment-username {
  font-family: AllerDisplay;
}

.comment-content {
  text-indent: 20px;
  text-align: justify;
}
.comment-content *{
  text-indent: 0px;
}
