@font-face {
	font-family: AllerRegular;
	src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
	font-family: AllerDisplay;
	src: url(../fonts/AllerDisplay.ttf);
}

body,html{
	overflow-x: hidden;
	height:100%;
	font-family: AllerRegular;
}
*{
	margin:0;
	padding:0;
	font-weight:400;
	box-sizing:border-box;
	font-size: 16px; /* Text gets smaller on smaller screens up to a point */
	transition:500ms;
}
h1{
	font-size:26px;
	font-family: AllerDisplay;
	text-align:center;
	padding-left:10px;
	margin:0px;
	overflow:visible;
	text-transform: uppercase;
}
h2{
	font-family: AllerDisplay;
	font-size:22px;
}
h3{
	font-family: AllerDisplay;
	text-align: center;
	font-size: 20px;
}
p{
	margin:10px;
}
body{
	background-color: #fdf5ea;
}
header{
	position:relative;
	display:flex;
	justify-content:center; /* Needed because the number of nav section might vary with authentification */
	align-items:center;
	/*box-shadow: 0px 1px 2px 0px #333;*/
	flex-direction: column;
	border-bottom: 3px solid #f5ba44;
}
header *{
	color: #FFF;
	font-size: 20px;
}
nav{
	display:flex;
	justify-content: center;
	width:80%;
	position:relative;
}
nav > * {
	/* Center text inside the boxes*/
	text-align:center;




	/* General appearance */
	font-size: 18px;
	font-family: AllerDisplay;
	color: #FFF;
	text-transform: uppercase;
	background-color: #f5ba44;
}

nav > a {
	color: #be433c;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > a:hover{
	cursor: pointer;
	color: #FFF;
	background-color: #fb9644;
}

[data-show]{
	cursor:pointer;
}

header > #header-username-link {
	position:absolute;
	right: 10px;
	top: 39px;
	background-color: #fb9644;
	border-radius: 10px;
	padding: 10px;
	text-transform: uppercase;
}

#content{ /* Used to change the bg color of everything except the header if needed */
	/*background-color: rgb(255, 210, 77);*/
	/*height:100%;*/
	position:relative;
}

a{
	text-decoration: none;
	color:#333;
}

strong{
	font-weight:600;
}
a:hover{
	color:#337;
	font-weight: 400;
}
.block{
	color:#333;
	padding:10px;
	position: relative;
	width:80%;
	display:none; /*no display by default, all sections are hidden */
	margin:auto;
	flex-direction: column;
}
button{
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
	outline:none;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor:pointer;
	font-family: AllerDisplay;
}
button.small{ /*Recommended for font awesome buttons */
	padding: 10px;
	border: 3px solid #fb9644;
	background-color: #be433c;
	margin:0 10px;
	color: #FFFFFF;
}
button.publish{
	border: 1px solid #4BFF2B;
	background-color: #4BFF2B;
}
button.connect{
	border: 1px solid #be433c;
	background-color: #be433c;
	color: #FFFFFF;
}
input[type=text],input[type=password]{
	color: #be433c;
	border: 2px solid #be433c;
	outline:none;
	border-radius: 100px;
	padding: 8px 20px;
	margin:20px;
	font-family: AllerDisplay;
}
button:hover{
	filter: brightness(120%);
}
button:active{
	transform: scale(0.95); /* push down effect by making the button smaller*/
}
.force_center{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.big_padding{
	padding:2vw;
}
.error{
	text-align:center;
	padding:5px;
	color: #be433c;
}
form{
	display:flex;
	flex-direction:column;
	width:50%;
	padding:1vw;
}
textarea{
	resize:none;
	display:block;
	color: #be433c;
	border: 2px solid #be433c;
	outline:none;
	border-radius: 15px;
	padding: 8px 20px;
	margin:20px;
	font-family: AllerRegular;
}
/* Text formatting styles */
pre{
	font-family: "Lucida Console", Monaco, monospace;
	line-height: 0.8em;
}
b{
	font-weight:bold;
}
.strike{
	text-decoration:line-through;
}
.spin{
	animation:spin 3s infinite;
	display:inline-block;
	display:inline-block;
}
.bounce{
	animation:bounce 2s infinite;
	display:inline-block;
}
.comic{
	font-family:"Comic Sans MS", "Comic Sans", TSCu_Comic, cursive;
}
.rainbow{
	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
	-webkit-background-clip: text;
	color: transparent;
	display:inline-block;
	background-size:800% 800%;
	animation:rainbow 2s linear infinite;
}
.zoommove{
	animation:zoommove 1s linear infinite;
	display:inline-block;
}
@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes zoommove{
	from {transform:scale(0.8);}
    50%  {transform:scale(1.2);}
    from {transform:scale(0.8);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#formatted_comment, #comment_preview_dom {
	font-family: AllerRegular;
}

/* Related to the create recipe section */
.recipe-creator{
	display:flex;
	flex-wrap: wrap;
	align-items:center;
}
.recipe-preview{
	padding:1vw;
	width:min(500px,100%);
}
.recipe-creator>form{
	width:min(400px,100%);
}
select {
	background-color: white;
	color: #be433c;
	border: 2px solid #be433c;
	outline:none;
	border-radius: 100px;
	padding: 8px 20px;
	margin:20px;
	font-family: AllerDisplay;
}
optgroup{
	color:#555;
	font-weight:lighter;
	text-transform: uppercase;
}
option{
	color:#000;
	text-transform: none;
}

.fa-star {
	color: #f5ba44;
}

#notification-container {
	position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	width: 100%;
}

.message {
	background-color: #be433cd0;
	color: #FFF;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	margin: 5px;

	align-self: center;
  position: relative;

	width: min(80%, 600px);
}

.messageIn {
  animation-name: animateMessageIn;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.messageOut {
  animation-name: animateMessageOut;
  animation-duration: 350ms;
  animation-timing-function: ease-in;
}

@keyframes animateMessageIn {
  from {
    bottom: -62px;
    opacity: 0;
  }

  to {
    bottom: 10px;
    opacity: 1;
  }
}

@keyframes animateMessageOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.browse {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#recipe_search_container {
	width: min(calc(100% - 40px), 600px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#recipe_search_dom {
	position: relative;
	margin: 0;
	width: 100%;
	padding-right: 50px;
}

.recipe-search-icon {
	color: #be433c;
	position: absolute;
	right: 15px;
}

@media screen and (min-width: 600px) {
	nav > a {
		padding-top: 15px;
		padding-bottom:15px;
		padding-right: 5px;
		padding-left: 5px;

		/*Make all items same width*/
		flex: 1;

		/* Manage how the boxes are positioned relative to each other */
		margin-bottom:-1px;
		margin-left:1vw;
		margin-right:1vw;
		border-radius: 10px 10px 0 0; /* upper side is rounded */
	}

	#headerMenu {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

@media screen and (max-width: 600px) {
	header {
		position: static;
		border: none;
	}

	#headerMenu {
		width: 70%;
		display: flex;
		flex-direction: column;
		height: 100%;
		position: fixed;
		top: 0;
		z-index: 4;
		align-self: flex-start;
		border-right: 3px solid #be433c;
	}

	#sandwichButtonContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		background-color: #f5ba44;
	}

	#toggleMenuButtonInsideSandwich {
		color: #be433c;
		padding: 10px;
		margin-left: 10px;
		margin-top: 10px;
		cursor: pointer;
	}

	nav {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		height: 100%;
		flex: 1;
		width: 100%;
	}

	body {
		position: relative;
		height: 100%;
	}

	nav > a {
		flex: 1;
		vertical-align: middle;
		color: #be433c;
	}

	nav > a:before {
		font-family: "Font Awesome 5 Free";
   content: "\f2e7";
	 margin-right: 10px;
   display: inline-block;
   vertical-align: middle;
   font-weight: 900;
	}
}

#toggleMenuButton {
	color: #be433c;
	padding: 12px 13.5px;
	background-color: #f5ba44;
	border-radius: 50%;
	border: 1px solid #be433c;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 39px;
}

#toggleMenuButton:hover {
	filter: brightness(120%);
}

.menuIn {
  animation-name: animateMenuIn;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.menuOut {
  animation-name: animateMenuOut;
  animation-duration: 350ms;
  animation-timing-function: ease-in;
}

@keyframes animateMenuIn {
	from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes animateMenuOut {
	from {
    left: 0;
  }

  to {
    left: -100%;
  }
}
